In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import numpy as np

### Retail Data Analysis (kaggle)
#### https://www.kaggle.com/datasets/manjeetsingh/retaildataset

In [ ]:
# Default is set to append - >#replace if you want to truncate

In [25]:
sqlEngine       = create_engine('mysql+pymysql://application:passpass@127.0.0.1/retail_dataset_kaggle', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

In [6]:
!ls ../../

Week 1                retail_kaggle_dataset

#### Store Date Features

In [7]:
features_df =  pd.read_csv("../../retail_kaggle_dataset/Features_data_set.csv")
features_df.Date = pd.to_datetime(features_df.Date, dayfirst=True).dt.date
features_df.IsHoliday = features_df.IsHoliday.astype(bool)

In [8]:
features_df.head(2)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True

In [26]:
features_df.to_sql('store_date', dbConnection, index=False, if_exists='replace')

8190

#### Sales

In [10]:
sales_df =  pd.read_csv("../../retail_kaggle_dataset/sales_data_set.csv")
sales_df.Date = pd.to_datetime(features_df.Date, dayfirst=True).dt.date
sales_df.IsHoliday = features_df.IsHoliday.astype(bool)

In [11]:
sales_df.head(2)

   Store  Dept        Date  Weekly_Sales IsHoliday
0      1     1  2010-02-05      24924.50     False
1      1     1  2010-02-12      46039.49      True

In [12]:
sales_df.to_sql('sales', dbConnection, index=False, if_exists='replace') #Typically have it as append

421570

#### Store

In [13]:
store_df =  pd.read_csv("../../retail_kaggle_dataset/stores_data_set.csv")

In [14]:
store_df.head(2)

   Store Type    Size
0      1    A  151315
1      2    A  202307

In [15]:
store_df.to_sql('store', dbConnection, index=False, if_exists='replace') #Typically have it as append

45

### Store Aggregate Table

In [16]:
features_df =  pd.read_csv("../../retail_kaggle_dataset/Features_data_set.csv")
features_df.Date = pd.to_datetime(features_df.Date, dayfirst=True)
features_df.IsHoliday = features_df.IsHoliday.astype(bool)
features_df["year_month_first"] = ((features_df['Date'] + pd.offsets.MonthEnd(0) - pd.offsets.MonthBegin(1))
                         .dt.floor('d')).dt.date
features_df['month'] = ((features_df['Date'] + pd.offsets.MonthEnd(0) - pd.offsets.MonthBegin(1))
                         .dt.floor('d')).dt.month
#features_df.Date.dt.to_period('M').dt.date
features_df_month = features_df.groupby(["Store", 'year_month_first']).agg({"Temperature":"median", 
                                                           "Fuel_Price": "median", 
                                                           "MarkDown1":np.mean, 
                                                           "MarkDown2":np.mean, 
                                                           "MarkDown3":np.mean, 
                                                           "MarkDown4":np.mean, 
                                                           "MarkDown5":np.mean,
                                                          "CPI":"mean",
                                                          "Unemployment": "mean",
                                                          "IsHoliday":"sum",
                                                                     "month": "max"})
features_df_month = features_df_month.reset_index()

In [17]:
features_df_month.dtypes

Store                 int64
year_month_first     object
Temperature         float64
Fuel_Price          float64
MarkDown1           float64
MarkDown2           float64
MarkDown3           float64
MarkDown4           float64
MarkDown5           float64
CPI                 float64
Unemployment        float64
IsHoliday             int64
month                 int32
dtype: object

In [18]:
features_df_month.to_sql('store_date_month_agg', dbConnection, index=False, if_exists='replace') #Typically have it as append

1890

In [19]:
sales_df =  pd.read_csv("../../retail_kaggle_dataset/sales_data_set.csv")
sales_df.Date = pd.to_datetime(sales_df.Date, dayfirst=True)
sales_df["year_month_first"] = ((sales_df['Date'] + pd.offsets.MonthEnd(0) - pd.offsets.MonthBegin(1))
                         .dt.floor('d')).dt.date
sales_df.IsHoliday = sales_df.IsHoliday.astype(bool)

sales_df_month = sales_df.groupby(["Store", "Dept",'year_month_first']).agg({"Weekly_Sales":"sum", 
                                                          "IsHoliday":"sum"})
sales_df_month = sales_df_month.reset_index()
sales_df_month.columns = ["Store", "Dept", "year_month_first", "Monthly_Sales", "IsHoliday"]
sales_df_month = sales_df_month[["Store", "Dept", "year_month_first", "Monthly_Sales"]]

In [20]:
sales_df.dtypes

Store                        int64
Dept                         int64
Date                datetime64[ns]
Weekly_Sales               float64
IsHoliday                     bool
year_month_first            object
dtype: object

In [21]:
sales_df_month.to_sql('sales_monthly_agg', dbConnection, index=False, if_exists='replace')

100181

In [27]:
dbConnection.commit()

In [28]:
dbConnection.close()