In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from delta import *

In [2]:
# download latest spark binary from https://spark.apache.org/downloads.html
! export SPARK_HOME="/Users/kanchanapadmanabhan/OneDrive/Personal-Course/Vector/Model Deployment/mlops_course/Week 3/spark/spark-3.4.1-bin-hadoop3"
! export PATH=$SPARK_HOME/bin:$PATH

In [3]:
spark = SparkSession.builder \
    .appName("PySparkExample") \
    .master("local[*]")\
    .config("spark.default.parallelism", "4")\
    .config("spark.driver.bindAddress","localhost")\
    .config("spark.ui.port","4050")\
    .getOrCreate()

23/08/20 11:06:11 WARN Utils: Your hostname, MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.26 instead (on interface en0)
23/08/20 11:06:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/20 11:06:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
features_df = spark.read.format("csv").option("header",True).options(inferSchema='True',delimiter=',').load("../../retail_kaggle_dataset_spark/Features*")
features_df.printSchema()

root
 |-- Store: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Temperature: double (nullable = true)
 |-- Fuel_Price: double (nullable = true)
 |-- MarkDown1: string (nullable = true)
 |-- MarkDown2: string (nullable = true)
 |-- MarkDown3: string (nullable = true)
 |-- MarkDown4: string (nullable = true)
 |-- MarkDown5: string (nullable = true)
 |-- CPI: string (nullable = true)
 |-- Unemployment: string (nullable = true)
 |-- IsHoliday: boolean (nullable = true)

In [5]:
features_df.head(5)

[Row(Store=1, Date='05/02/2010', Temperature=42.31, Fuel_Price=2.572, MarkDown1='NA', MarkDown2='NA', MarkDown3='NA', MarkDown4='NA', MarkDown5='NA', CPI='211.0963582', Unemployment='8.106', IsHoliday=False),
 Row(Store=1, Date='12/02/2010', Temperature=38.51, Fuel_Price=2.548, MarkDown1='NA', MarkDown2='NA', MarkDown3='NA', MarkDown4='NA', MarkDown5='NA', CPI='211.2421698', Unemployment='8.106', IsHoliday=True),
 Row(Store=1, Date='19/02/2010', Temperature=39.93, Fuel_Price=2.514, MarkDown1='NA', MarkDown2='NA', MarkDown3='NA', MarkDown4='NA', MarkDown5='NA', CPI='211.2891429', Unemployment='8.106', IsHoliday=False),
 Row(Store=1, Date='26/02/2010', Temperature=46.63, Fuel_Price=2.561, MarkDown1='NA', MarkDown2='NA', MarkDown3='NA', MarkDown4='NA', MarkDown5='NA', CPI='211.3196429', Unemployment='8.106', IsHoliday=False),
 Row(Store=1, Date='05/03/2010', Temperature=46.5, Fuel_Price=2.625, MarkDown1='NA', MarkDown2='NA', MarkDown3='NA', MarkDown4='NA', MarkDown5='NA', CPI='211.3501429', Unemployment='8.106', IsHoliday=False)]

In [6]:
filtered_df = features_df.filter("IsHoliday = True")

In [7]:
output_path = "features_df_filter_new.csv"
filtered_df.write.csv(output_path, header=True, mode="overwrite")

In [8]:
features_df = features_df.withColumn("Date", F.to_date("Date", "yyyy-MM-dd"))
features_df = features_df.withColumn("IsHoliday", features_df["IsHoliday"].cast("boolean"))

# Compute year_month_first and month columns
features_df = features_df.withColumn("year_month_first", F.date_trunc("month", F.add_months("Date", -1)))
features_df = features_df.withColumn("month", F.month("Date"))

# Group by Store and year_month_first, then aggregate using Spark functions
features_df_month = features_df.groupby("Store", "year_month_first").agg(
    F.expr("percentile_approx(Temperature, 0.5)").alias("Temperature_median"),
    F.expr("percentile_approx(Fuel_Price, 0.5)").alias("Fuel_Price_median"),
    F.avg("MarkDown1").alias("MarkDown1_mean"),
    F.avg("MarkDown2").alias("MarkDown2_mean"),
    F.avg("MarkDown3").alias("MarkDown3_mean"),
    F.avg("MarkDown4").alias("MarkDown4_mean"),
    F.avg("MarkDown5").alias("MarkDown5_mean"),
    F.avg("CPI").alias("CPI_mean"),
    F.avg("Unemployment").alias("Unemployment_mean"),
    F.max("IsHoliday").alias("IsHoliday_sum"),
    F.max("month").alias("month_max")
)

In [9]:
# Show the resulting DataFrame
features_df_month.show()

+-----+----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------+---------+
|Store|year_month_first|Temperature_median|Fuel_Price_median|    MarkDown1_mean|    MarkDown2_mean|    MarkDown3_mean|    MarkDown4_mean|    MarkDown5_mean|          CPI_mean| Unemployment_mean|IsHoliday_sum|month_max|
+-----+----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------+---------+
|   31|            null|             67.87|            3.353|10432.855111111097| 3049.626438356164|1221.0650000000005| 3400.065333333329| 7546.233666666672|  216.918639708284| 7.403958579881612|         true|     null|
|   34|            null|             58.59|            3.354| 5385.857111111113|2145.8228378378376|1371.2926744186034|1709.0877272727264|3530.4172222222232|129.19709142485203| 9.772508875739637|         true|     null|
|   28|            null|             67.84|            3.743| 9535.256666666668|  3151.65162162162| 1939.308720930232|4012.5134444444457|15265.253333333329|129.19709142485203|12.637715976331405|         true|     null|
|   26|            null|             40.56|             3.63| 6207.255333333331| 2635.945972222223|1501.5867441860455|1901.9185393258426|3487.8824444444435|  135.652332853846|7.7499704142011625|         true|     null|
|   27|            null|             54.95|            3.793|11541.899444444438| 5608.822307692306|2301.9476404494376| 5497.707111111109| 4945.789777777779|139.59436564260358|7.9900769230769235|         true|     null|
|   44|            null|              51.7|            3.509|496.16477272727275|317.76222222222185|16.292968749999993|34.965999999999994| 816.2977777777771|129.19709142485203| 6.475822485207126|         true|     null|
|   12|            null|             67.84|            3.743|10541.072222222221| 3805.352638888888| 2080.412380952381| 5067.367666666666| 4821.452777777781|129.19709142485203|12.637715976331405|         true|     null|
|   22|            null|             53.24|             3.63|          9894.982|  4693.33661971831|2019.3637349397593|  4325.59133333333|3804.4532222222256|139.59436564260358| 7.963165680473391|         true|     null|
|    1|            null|             67.41|            3.353|  8536.59277777778| 3346.401917808216|1670.7979775280894|3653.6314444444465| 4428.307666666663| 217.2716791698228| 7.440994082840254|         true|     null|
|   13|            null|              51.7|            3.509|  11854.3531111111| 6326.246133333335| 3591.272022471908| 4982.908777777774| 6249.986555555554|129.19709142485203| 6.762023668639085|         true|     null|
|    6|            null|             69.51|            3.353| 9178.621888888902| 5021.083999999995| 2467.004204545453| 3623.592000000001| 5333.071444444442|218.83889749940832| 6.412568047337264|         true|     null|
|   16|            null|             41.26|            3.479|3716.6053333333316|1046.6041538461545|1108.3970129870133|1166.2715909090903|  2511.24633333333|194.71862115502938|6.3353076923076665|         true|     null|
|    3|            null|             71.69|            3.353|3226.9063333333306|1097.3685507246373| 1262.148205128205| 777.1152873563213|1153.3498888888885|  220.690122328994| 7.006005917159739|         true|     null|
|   20|            null|              55.0|            3.614|11407.859666666665|  5546.48164556962|3364.5058426966298| 5423.154777777776| 5408.834333333338|210.24814927041433| 7.368165680473397|         true|     null|
|   40|            null|              46.5|             3.63| 6159.650111111118|2906.0322857142874|1367.8573809523798|2338.4740909090915|3635.0826666666694|  135.652332853846| 4.668562130177493|         true|     null|
|    5|            null|             68.96|            3.353|3028.6730000000002| 1186.970757575758|1052.0375000000004|1033.1676190476187| 2205.375444444444|217.84435650414216| 6.163165680473393|         true|     null|
|   19|            null|             50.43|            3.793|11207.985777777776| 4873.099999999996|2790.7037931034465| 5071.961555555554| 4667.303999999997|  135.652332853846|  7.99457988165684|         true|     null|
|   41|            null|             44.81|            3.479|          8354.535|3907.6019999999953| 2205.587752808987| 4305.263444444443| 4883.173444444446|194.71862115502938| 6.807852071005888|         true|     null|
|   15|            null|             49.87|            3.793| 5821.089666666668|2766.0173239436604|1974.2096385542168|2062.5251111111115|2309.9799999999987|  135.652332853846|  7.99457988165684|         true|     null|
|   43|            null|             68.98|            3.353| 381.0625842696626|  636.246896551724|16.505633802816895| 97.12466666666668| 1337.895777777777|208.94165415680467| 9.772508875739637|         true|     null|
+-----+----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------+---------+
only showing top 20 rows

In [10]:
output_path = "features_df_month_new.csv"
features_df_month.write.csv(output_path, header=True, mode="overwrite")

In [11]:
# Stop the Spark session
spark.stop()